@import "../../variables.scss";

.inscriptionBtn {
    background-color: $primary-color;
    padding: 12px 40px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 300ms, color 300ms;
    
    &:hover {
        background-color: white;
        color: $primary-color
    }
}