.home {
	height: 1080px;
	position: relative;

	.header {
		position: absolute;
		font-size: 3vw;
		color: white;
		bottom: 40%;
		left: 15%;
		z-index: 1;
		line-height: 30px;

		.subtitle {
			font-size: 2.5vw;
		}
	}

	.carousel {

		.carousel_content {
			height: 100vh;
			background-size: cover;       
		}

		.first_slide {
			background-image: url("./assets/images/home/Portada00.jpg");
		}

		.second_slide {
			background-image: url("./assets/images/home/Portada01.jpg");

		}

		.third_slide {
			background-image: url("./assets/images/home/Portada03.jpg");

		}
	}
}