$primary-color: hsl(45°, 94%, 52%); // #f8be12
$primary-color-filter: invert(74%) sepia(76%) saturate(892%) hue-rotate(350deg) brightness(100%) contrast(95%);
$secondary-color: hsl(9°, 80%, 68%); // #ef806c