@import "../../variables.scss";

.nav_bar {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    padding-top: 50px;
    width: 100%;
    z-index: 10;
    transition: background-color 500ms, padding 300ms;

    .logo {

        img {
            cursor: pointer;
        }
        
    }

    .nav_bar_titles {
        display: flex;
        justify-content: space-between;
        color: white;
        text-transform: uppercase;
        font-weight: 700;
        text-shadow: -1px 0 black, 0 1px black;

        .nav_bar_title {
            margin: 0 25px;
            padding: 35px 0;
            transition: padding 500ms, color 300ms;
            cursor: pointer;

            &:hover {
                color: $primary-color;
            }
        }
    }
}

.scrolled_nav_bar {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 0;
    transition: background-color 500ms, padding 500ms;

}